---
layout: style
---

.nextfaze {
    font-family: 'Maven Pro';
}

.team-member img {
    height: 200px;
    width: 200px;
}

.clients .i {
    color: #{{ site.data.template.color.muted }};
}

#email-disclaimer body .p .blockquote  {
    font-size: 18px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}