<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Milestones</h2>
                    <h3 class="section-subheading text-muted">Event, Occurence, Happening, Turning Point</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/press-start-red-200.png" title="And so it begins..." alt="Insert Coin to Begin!">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2012</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">NextFaze incorporated, founded by five senior software developers from 2moromobile after it was wound up by it’s acquisitiors.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" title="Out of the living room, into the fire" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2012</h4>
                                    <h4 class="subheading">A Real Office</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Moved into the room above Marilyn’s Depot Vent at 24a O’Connell St, after working a few days in Derek’s living room.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" title="Expanding the Empire" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2013</h4>
                                    <h4 class="subheading">A Bigger Office</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Moved next door to 22 O’Connell Street (entrance at 112 Ward St) when the room above Marilyns got a bit crowded, and smelly!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/breville_infuser.png" title="Thermoblock Breville BES840 - Our first stop to making 243,000 coffees a day" alt="Breville BES840 Infuser Espresso Machine">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2013</h4>
                                    <h4 class="subheading">Coffee</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bought a brand new Breville Infuser Coffee Machine with Bonus Barista Course & FREE Grinder after suffering with borrowed and lent coffee machines for too long.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/drip-sq-200.jpg" title="Breville YouBrew BDC600XL" alt="Breville YouBrew BDC600XL">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">More Coffee</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Added the YouBrew machine to the coffee manufacture process for those with a drip coffee preference.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" title="West is best, but East is also pretty good" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2015</h4>
                                    <h4 class="subheading">Spreading Out</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">East wing opened up at 112 Ward street opened to house the growing web team.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/chair-sq-200.jpg" alt="Chair of Multiple Massage" title="Make it so">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2015</h4>
                                    <h4 class="subheading">Zero-G</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Zero-G Starship Chair installed, also gives massages.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/santa_hole.png" title="Santa Derek creates a hole in the wall using only his jumping ability and hair" alt="Santa Derek creates a hole in the wall using only his jumping ability and hair">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">Present Tense</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bought the building at 28 O’Connell Street after getting notice; had a “smashing” christmas party.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dual_boiler.png" title="The Breville BES 920 Dual Boiler Coffee Machine with it's partner in crime - the Smart Grander Pro" alt="The Breville BES 920 Dual Boiler Coffee Machine with it's partner in crime - the Smart Grander Pro">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">Coffee Coffee Coffee</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Upgraded the espresso machine to a dual boiler red one, it goes faster. Productivity increases 35%.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/new-digs.png" title="Upstairs, downstairs, even an old bank vault!" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2016</h4>
                                    <h4 class="subheading">An Even Bigger Home</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Moved into the 28 O’Connell Street after renovations completed to make it our home.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>