<!-- Clients Aside -->
    <aside class="clients text-muted">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-desktop"></i>
                    </span>
                </div>
                <div class="col-xs-3 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-laptop"></i>
                    </span>
                </div>
                <div class="col-xs-3 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-tablet"></i>
                    </span>
                </div>
                <div class="col-xs-3 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-mobile"></i>
                    </span>
                </div>
            </div>
        </div>
    </aside>