<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Things we do</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-rocket fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Supporting New Ventures</h4>
                    <p class="text-muted">NextFaze has years of experience developing solutions for new ventures. We leverage that experience to help you get to market with smart technology that is rock solid, ensuring stable and rapid growth.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-ambulance fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Rescue Jobs</h4>
                    <p class="text-muted">We understand that many startups are looking to maximise ROI with cost effective development solutions. The outcome of this is often a substandard result that requires reassessment. NextFaze have rescued many clients from extreme budget blow-out due to failed first attempts.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-check-square-o fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Consultation</h4>
                    <p class="text-muted">NextFaze is well positioned to provide advice on avoiding common and uncommon pitfalls in the app development arena. We provide specification and architecture documentation and can also provide hiring advice so you can be sure you're getting the right people for your in-house team.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-pied-piper-alt fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Technological Fluency</h4>
                    <p class="text-muted">While we cater to a wide range of platforms we specialise in iOS, Android and Web development including WatchKit and Android Wear. Our team is diverse, allowing us to advise on a suitable solution regardless of the situation.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-tablet fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Rapid Prototyping</h4>
                    <p class="text-muted">We specialise in rapid prototyping so that you can gauge feasbility of your product for minimal spend. We have the experience to know which features are critical to a successful MVP launch and work with you to determine realistic scope.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-list-ol fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Agile Development</h4>
                    <p class="text-muted">We understand the need to be flexible when implementing user stories and at the same time appreciate that the application architecture needs to be smart to minimise technical debt. This pragmatic approach comes from years of agile development experience.</p>
                </div>
            </div>
        </div>
    </section>